openapi: 3.1.0
info:
  title: XConnect-One Overlay API
  version: 1.0.0
  description: >-
    Versioned controller contract for the existing XConnect-One device,
    configuration, acknowledgement, and gateway heartbeat flow. Unversioned
    endpoints remain available only as a migration compatibility surface.
  x-xconnect-product-family: XConnect-One
servers:
  - url: https://accounts.svc.plus
tags:
  - name: Overlay
  - name: Internal Overlay
paths:
  /api/overlay/v1/networks:
    get:
      tags: [Overlay]
      operationId: listOverlayNetworksV1
      security: [{bearerAuth: []}]
      parameters:
        - name: network_id
          in: query
          schema: {type: string}
      responses:
        "200":
          description: Networks visible to the active account.
          content:
            application/json:
              schema:
                type: object
                required: [networks]
                properties:
                  networks:
                    type: array
                    items: {$ref: "#/components/schemas/OverlayNetwork"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/devices:
    get:
      tags: [Overlay]
      operationId: listOverlayDevicesV1
      security: [{bearerAuth: []}]
      responses:
        "200":
          description: Registered devices owned by the active account.
          content:
            application/json:
              schema:
                type: object
                required: [devices]
                properties:
                  devices:
                    type: array
                    items: {$ref: "#/components/schemas/OverlayDevice"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/devices/{device_id}:
    get:
      tags: [Overlay]
      summary: Read one device in the authenticated owner or administrator scope.
      security: [{bearerAuth: []}]
      parameters:
        - {name: device_id, in: path, required: true, schema: {type: string}}
        - {name: network_id, in: query, schema: {type: string}}
        - {name: owner_user_id, in: query, schema: {type: string, format: uuid}}
      responses: {"200": {description: Device detail}, default: {$ref: "#/components/responses/Error"}}
    delete:
      tags: [Overlay]
      summary: Idempotently leave the overlay by permanently revoking the device.
      security: [{bearerAuth: []}]
      parameters: [{name: device_id, in: path, required: true, schema: {type: string}}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/DeviceScopeRequest"}}}}
      responses: {"200": {description: Device revoked and active policy reconciled}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/devices/{device_id}/rotate-key:
    post:
      tags: [Overlay]
      summary: Rotate a device WireGuard public key using optimistic concurrency.
      security: [{bearerAuth: []}]
      parameters: [{name: device_id, in: path, required: true, schema: {type: string}}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/RotateDeviceKeyRequest"}}}}
      responses: {"200": {description: Key rotated or identical retry acknowledged}, "409": {$ref: "#/components/responses/Error"}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/devices/{device_id}/state:
    put:
      tags: [Overlay]
      summary: Set active/inactive/revoked state; revoked is terminal.
      security: [{bearerAuth: []}]
      parameters: [{name: device_id, in: path, required: true, schema: {type: string}}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/DeviceStateRequest"}}}}
      responses: {"200": {description: State updated and active policy reconciled}, "409": {$ref: "#/components/responses/Error"}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/devices/{device_id}/revoke:
    post:
      tags: [Overlay]
      summary: Idempotently and permanently revoke a device.
      security: [{bearerAuth: []}]
      parameters: [{name: device_id, in: path, required: true, schema: {type: string}}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/DeviceScopeRequest"}}}}
      responses: {"200": {description: Device revoked}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/events:
    get:
      tags: [Overlay]
      summary: Incremental, ordered device lifecycle event stream.
      security: [{bearerAuth: []}]
      parameters:
        - {name: network_id, in: query, schema: {type: string}}
        - {name: owner_user_id, in: query, schema: {type: string, format: uuid}}
        - {name: after, in: query, schema: {type: integer, minimum: 0}}
      responses: {"200": {description: Events and next_after cursor}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/enrollment/device/revoke:
    post:
      tags: [Overlay]
      summary: Revoke the exact device bound to a still-valid short-lived enrollment bearer.
      description: This is the join-window leave path, not a durable device refresh credential.
      security: [{enrollmentBearer: []}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false}}}}
      responses: {"200": {description: Bound device revoked; response is no-store}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/devices/register:
    post:
      tags: [Overlay]
      operationId: registerOverlayDeviceV1
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/RegisterDeviceRequest"}
      responses:
        "200":
          description: Device registered or idempotently refreshed.
          content:
            application/json:
              schema:
                type: object
                required: [device, network]
                properties:
                  device: {$ref: "#/components/schemas/OverlayDevice"}
                  network: {$ref: "#/components/schemas/OverlayNetwork"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/config:
    get:
      tags: [Overlay]
      operationId: getOverlayConfigV1
      security: [{bearerAuth: []}]
      parameters:
        - name: device_id
          in: query
          required: true
          schema: {type: string, minLength: 1}
        - name: network_id
          in: query
          schema: {type: string}
        - name: node_id
          in: query
          schema: {type: string}
      responses:
        "200":
          description: Current legacy-compatible schema_version 1 device config.
          headers:
            ETag:
              schema: {type: string}
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OverlayConfigV1"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/config/ack:
    post:
      tags: [Overlay]
      operationId: acknowledgeOverlayConfigV1
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ConfigAckRequest"}
      responses:
        "200":
          description: Configuration application receipt persisted.
          content:
            application/json:
              schema:
                type: object
                required: [acked, device_id, network_id, revision, received_at]
                properties:
                  acked: {const: true}
                  device_id: {type: string}
                  network_id: {type: string}
                  revision: {type: string}
                  received_at: {type: string, format: date-time}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/join-tokens:
    post:
      tags: [Overlay]
      operationId: createOverlayJoinTokenV1
      description: Creates a strictly one-time invite. The raw secret appears only once inside join_uri.
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/CreateJoinTokenRequest"}
      responses:
        "201":
          description: One-time secret response; clients and intermediaries must not cache it.
          headers:
            Cache-Control: {schema: {const: no-store}}
          content:
            application/json:
              schema: {$ref: "#/components/schemas/CreateJoinTokenResponse"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/join-tokens/{id}:
    delete:
      tags: [Overlay]
      operationId: revokeOverlayJoinTokenV1
      security: [{bearerAuth: []}]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
      responses:
        "204": {description: Invite revoked.}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/join-tokens/exchange:
    post:
      tags: [Overlay]
      operationId: exchangeOverlayJoinTokenV1
      description: >-
        Public, rate-limited exchange. It atomically consumes one invite use,
        registers the constrained device, and returns a short-lived bearer.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ExchangeJoinTokenRequest"}
      responses:
        "200":
          description: Enrollment bearer returned once.
          headers:
            Cache-Control: {schema: {const: no-store}}
          content:
            application/json:
              schema: {$ref: "#/components/schemas/ExchangeJoinTokenResponse"}
        "429": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/device/session:
    post:
      tags: [Overlay]
      operationId: mintOverlayDeviceSessionV1
      description: >-
        Exchanges the active, device-bound xdc_ credential for a short-lived
        xenr_ bearer limited to signed-config read and ACK. HTTPS and exact
        application/json are mandatory; the nonce is echoed exactly and the
        current/previous public Ed25519 trust ring is returned.
      security: [{deviceAuthorization: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/DeviceSessionMintRequest"}}}}
      responses:
        "200":
          description: Short session returned once; never cache.
          headers:
            Cache-Control: {schema: {const: no-store}}
            Vary: {schema: {const: Authorization}}
          content: {application/json: {schema: {$ref: "#/components/schemas/DeviceSessionMintResponse"}}}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/device/credential/rotate:
    post:
      tags: [Overlay]
      operationId: rotateOverlayDeviceCredentialV1
      description: >-
        Atomically replaces the current device credential with a client-created
        id and SHA-256 verifier. The raw successor is never sent to Accounts.
        Idempotency-Key must be sha256-<hex> over the compact canonical JSON body.
      security: [{deviceAuthorization: []}]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string, pattern: '^sha256-[a-f0-9]{64}$'}}
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/DeviceCredentialRotateRequest"}}}}
      responses:
        "200":
          description: Successor activated; response contains no raw secret or verifier.
          headers: {Cache-Control: {schema: {const: no-store}}, Vary: {schema: {const: Authorization}}}
          content: {application/json: {schema: {$ref: "#/components/schemas/DeviceCredentialRotateResponse"}}}
        "409": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/device/revoke:
    post:
      tags: [Overlay]
      operationId: revokeOverlayDeviceWithCredentialV1
      description: >-
        Permanently revokes the bound device and every active credential. This
        is the only route where a replaced/revoked historical verifier can
        replay the exact terminal receipt after a lost response or admin revoke.
      security: [{deviceAuthorization: []}]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string, pattern: '^sha256-[a-f0-9]{64}$'}}
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/DeviceBoundRevokeRequest"}}}}
      responses:
        "202":
          description: Revocation committed; policy reconciliation may remain pending.
          headers: {Cache-Control: {schema: {const: no-store}}, Vary: {schema: {const: Authorization}}}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [revoked, duplicate, device, policy_reconcile_pending]
                properties:
                  revoked: {const: true}
                  duplicate: {type: boolean}
                  device: {$ref: "#/components/schemas/OverlayDevice"}
                  policy_reconcile_pending: {type: boolean}
        "409": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/enrollment/config:
    get:
      tags: [Overlay]
      operationId: getEnrollmentOverlayConfigV1
      description: Device/network-bound legacy config bootstrap.
      security: [{enrollmentBearer: []}]
      responses:
        "200": {description: Bound config., content: {application/json: {schema: {$ref: "#/components/schemas/OverlayConfigV1"}}}}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/enrollment/signed-config:
    get:
      tags: [Overlay]
      operationId: getEnrollmentOverlaySignedConfigV1
      description: Device/network-bound canonical xray SignedConfig bootstrap.
      security: [{enrollmentBearer: []}]
      responses:
        "200": {description: Bound signed config., content: {application/json: {schema: {$ref: "#/components/schemas/SignedConfig"}}}}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/enrollment/config/ack:
    post:
      tags: [Overlay]
      operationId: acknowledgeEnrollmentOverlayConfigV1
      security: [{enrollmentBearer: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/ConfigAckRequest"}}}}
      responses:
        "200": {description: Bound ACK accepted.}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/enrollment/signed-config/{generation}/ack:
    post:
      tags: [Overlay]
      operationId: acknowledgeEnrollmentOverlaySignedConfigV1
      security: [{enrollmentBearer: []}]
      parameters:
        - name: generation
          in: path
          required: true
          schema: {type: integer, minimum: 1}
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/SignedConfigAckRequest"}}}}
      responses:
        "200": {description: Bound ACK accepted.}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/signed-config:
    get:
      tags: [Overlay]
      operationId: getOverlaySignedConfigV1
      description: >-
        Returns the canonical Ed25519-signed XConnect-One client projection.
        This endpoint is additive; /api/overlay/v1/config retains its legacy
        response during migration.
      security: [{bearerAuth: []}]
      parameters:
        - name: device_id
          in: query
          required: true
          schema: {type: string, minLength: 1}
        - name: network_id
          in: query
          schema: {type: string}
        - name: node_id
          in: query
          schema: {type: string}
      responses:
        "200":
          description: Canonical SignedConfig projection.
          headers:
            ETag:
              schema: {type: string}
            Cache-Control:
              schema: {const: "private, no-store"}
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SignedConfig"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/signing-keys:
    get:
      tags: [Overlay]
      operationId: listOverlaySigningKeysV1
      description: >-
        Publishes only current and previous Ed25519 verification keys. Signing
        private keys are secret-injected and are never returned or persisted.
      security: [{bearerAuth: []}]
      responses:
        "200":
          description: Active verification window for SignedConfig.
          headers:
            Cache-Control:
              schema: {const: "private, max-age=300"}
            Vary:
              schema: {const: Authorization}
            ETag:
              schema: {type: string}
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                additionalProperties: false
                properties:
                  keys:
                    type: array
                    items: {$ref: "#/components/schemas/OverlaySigningKey"}
        "304":
          description: Verification key set has not changed.
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/signed-config/{generation}/ack:
    post:
      tags: [Overlay]
      operationId: acknowledgeOverlaySignedConfigV1
      description: >-
        Idempotently acknowledges the current signed generation. A generation
        older than the latest projection is rejected as stale.
      security: [{bearerAuth: []}]
      parameters:
        - name: generation
          in: path
          required: true
          schema: {type: integer, minimum: 1}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/SignedConfigAckRequest"}
      responses:
        "200":
          description: ACK persisted, or the original receipt returned for a retry.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SignedConfigAckResponse"}
        "409": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/nodes/heartbeat:
    post:
      tags: [Internal Overlay]
      operationId: heartbeatOverlayNodeV1
      description: Node-bound heartbeat. Apply mode is accepted only when the trusted node record explicitly authorizes it; X-Service-Token is not accepted here.
      security: [{nodeBearer: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/GatewayHeartbeatRequest"}
      responses:
        "204": {description: Gateway node observation accepted.}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/nodes/{node_id}/snapshot:
    get:
      tags: [Internal Overlay]
      operationId: getGatewaySnapshotV1
      security: [{nodeBearer: []}]
      parameters: [{$ref: "#/components/parameters/NodeID"}]
      responses:
        "200":
          description: Signed, node-bound Xray snapshot for the node's authorized runtime mode.
          headers: {Cache-Control: {schema: {const: no-store}}}
          content:
            application/vnd.xconnect.gateway.v1+json:
              schema: {$ref: "#/components/schemas/GatewaySnapshot"}
        "204": {description: No safe snapshot is currently planned.}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/nodes/{node_id}/apply-result:
    post:
      tags: [Internal Overlay]
      operationId: reportGatewayApplyResultV1
      security: [{nodeBearer: []}]
      parameters: [{$ref: "#/components/parameters/NodeID"}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/GatewayApplyResultRequest"}}}}
      responses:
        "200": {description: Node-mode-bound evidence accepted idempotently.}
        "409": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/nodes/{node_id}/credentials:
    post:
      tags: [Internal Overlay Management]
      operationId: createGatewayNodeCredentialV1
      description: Raw xgn_ bearer is returned once; response must not be cached.
      security: [{serviceToken: []}]
      parameters: [{$ref: "#/components/parameters/NodeID"}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/CreateNodeCredentialRequest"}}}}
      responses:
        "201":
          description: One-time raw credential response.
          headers: {Cache-Control: {schema: {const: no-store}}}
          content: {application/json: {schema: {$ref: "#/components/schemas/CreateNodeCredentialResponse"}}}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/nodes/{node_id}/credentials/{credential_id}:
    delete:
      tags: [Internal Overlay Management]
      operationId: revokeGatewayNodeCredentialV1
      security: [{serviceToken: []}]
      parameters:
        - {$ref: "#/components/parameters/NodeID"}
        - {name: credential_id, in: path, required: true, schema: {type: string}}
      responses:
        "204": {description: Credential revoked.}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/imports/static-clients:
    post:
      tags: [Internal Overlay Management]
      operationId: importStaticOverlayClientsV1
      description: Canonical, audited, idempotent migration import; never triggers runtime apply.
      security: [{serviceToken: []}]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: {type: string, pattern: '^sha256-[a-f0-9]{64}$'}
      requestBody:
        required: true
        content:
          application/vnd.xconnect.static-client-import.v1+json:
            schema: {$ref: "#/components/schemas/StaticClientImport"}
      responses:
        "200": {description: Stable import receipt., content: {application/json: {schema: {$ref: "#/components/schemas/StaticClientImportReceipt"}}}}
        "409": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/reconcile-pending:
    post:
      tags: [Internal Overlay Management]
      summary: Retry durable policy-reconcile outbox entries after lifecycle commits.
      security: [{serviceToken: []}]
      responses:
        "200":
          description: Reconcile retry counts; processed equals completed plus failed.
          headers: {Cache-Control: {schema: {const: no-store}}}
        default: {$ref: "#/components/responses/Error"}
  /api/internal/overlay/v1/nodes/{node_id}/cutover-authorizations:
    post:
      tags: [Internal Overlay Management]
      operationId: issueAccountsOnlyCutoverAuthorizationV1
      summary: Issue a short-lived controller-signed authorization for one exact Accounts-only cutover evidence set.
      description: >-
        Requires the service token and a separately configured Accounts Ed25519
        key. The controller derives baseline, snapshot, policy, projection and
        reconcile facts from durable state; it refuses incomplete or pending
        evidence and never accepts caller-supplied digests.
      security: [{serviceToken: []}]
      parameters: [{$ref: "#/components/parameters/NodeID"}]
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: "#/components/schemas/CutoverAuthorizationRequest"}}}
      responses:
        "200":
          description: Short-lived Ed25519-signed authorization; response is no-store.
          headers: {Cache-Control: {schema: {const: no-store}}}
          content: {application/json: {schema: {$ref: "#/components/schemas/CutoverAuthorization"}}}
        "409": {$ref: "#/components/responses/Error"}
        default: {$ref: "#/components/responses/Error"}
  /api/overlay/v1/policies/validate:
    post:
      tags: [Overlay]
      summary: Strictly validate and compile a NetworkPolicy without storing it.
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/PolicyDocumentRequest"}}}}
      responses: {"200": {description: Deterministic validation result}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/policies:
    post:
      tags: [Overlay]
      summary: Create an immutable validated draft revision.
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/PolicyDocumentRequest"}}}}
      responses: {"201": {description: Draft created}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/policies/{revision}:
    get:
      tags: [Overlay]
      security: [{bearerAuth: []}]
      parameters: [{name: revision, in: path, required: true, schema: {type: integer, minimum: 1}}, {name: network_id, in: query, required: true, schema: {type: string}}]
      responses: {"200": {description: Policy revision metadata}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/policies/{revision}/activate:
    post:
      tags: [Overlay]
      security: [{bearerAuth: []}]
      parameters: [{name: revision, in: path, required: true, schema: {type: integer, minimum: 1}}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [network_id], properties: {network_id: {type: string}}}}}}
      responses: {"200": {description: Activated generation}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/policies/{revision}/explain:
    post:
      tags: [Overlay]
      security: [{bearerAuth: []}]
      parameters: [{name: revision, in: path, required: true, schema: {type: integer, minimum: 1}}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [network_id, source, destination, protocol, port], properties: {network_id: {type: string}, source: {type: string}, destination: {type: string}, protocol: {enum: [tcp, udp, icmp]}, port: {type: integer, minimum: 0, maximum: 65535}}}}}}
      responses: {"200": {description: Final action, matched rule and resolved device sets}, default: {$ref: "#/components/responses/Error"}}
  /api/overlay/v1/devices/{device_id}/tags:
    put:
      tags: [Overlay]
      summary: Replace device tags under active tagOwners authorization.
      security: [{bearerAuth: []}]
      parameters: [{name: device_id, in: path, required: true, schema: {type: string}}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [network_id, tags], properties: {network_id: {type: string}, tags: {type: array, maxItems: 64, uniqueItems: true, items: {type: string, pattern: "^tag:[A-Za-z0-9_.-]+$"}}}}}}}
      responses: {"200": {description: Normalized tags and recompiled policy identity}, default: {$ref: "#/components/responses/Error"}}
  /api/internal/overlay/v1/nodes/{node_id}/policy-artifacts/{generation}/{digest}:
    get:
      tags: [Internal Overlay]
      summary: Fetch exact canonical enforcement bytes bound by GatewaySnapshot policy fields.
      security: [{nodeBearer: []}]
      parameters: [{name: node_id, in: path, required: true, schema: {type: string}}, {name: generation, in: path, required: true, schema: {type: integer, minimum: 1}}, {name: digest, in: path, required: true, schema: {type: string, pattern: "^[a-f0-9]{64}$"}}]
      responses:
        "200": {description: Sanitized enforcement artifact; Cache-Control is no-store., content: {application/vnd.xconnect.gateway-policy.v1+json: {schema: {$ref: "#/components/schemas/PolicyEnforcementArtifact"}}}}
        default: {$ref: "#/components/responses/Error"}
components:
  parameters:
    NodeID: {name: node_id, in: path, required: true, schema: {type: string}}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    enrollmentBearer:
      type: http
      scheme: bearer
      description: Short-lived opaque xenr_ token bound to one user/network/device/key.
    serviceToken:
      type: apiKey
      in: header
      name: X-Service-Token
    nodeBearer:
      type: http
      scheme: bearer
      description: Hash-only, expiring and revocable xgn_ credential bound to one node.
    deviceAuthorization:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        Authorization: Device xdc_<32-lowercase-hex>.<43-canonical-base64url>.
        Clients emit Device; scheme comparison is ASCII case-insensitive.
  responses:
    Error:
      description: Stable machine-readable error.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
  schemas:
    CutoverAuthorizationRequest:
      type: object
      additionalProperties: false
      required: [requested_mode]
      properties:
        requested_mode: {const: accounts-only}
        expires_in_seconds: {type: integer, minimum: 1, maximum: 900}
    CutoverAuthorization:
      $ref: ../schemas/overlay/accounts-only-cutover-authorization.schema.json
    PolicyDocumentRequest:
      type: object
      additionalProperties: false
      required: [network_id, source, source_format]
      properties: {network_id: {type: string}, source: {type: string, maxLength: 1048576}, source_format: {enum: [json, yaml]}}
    PolicyEnforcementArtifact:
      type: object
      additionalProperties: false
      required: [schema_version, compiler_version, network_id, revision, default_action, protected_flows, rules]
      properties: {schema_version: {const: 1}, compiler_version: {const: xconnect-acl-v1alpha1.1}, network_id: {type: string}, revision: {type: integer, minimum: 0}, default_action: {const: deny}, protected_flows: {type: array, items: {type: string}}, rules: {type: array, items: {type: object}}}
    SignedConfig:
      $ref: ../schemas/overlay/signed-config.schema.json
    GatewaySnapshot:
      $ref: ../schemas/overlay/gateway-snapshot.schema.json
    OverlaySigningKey:
      type: object
      additionalProperties: false
      required: [key_id, algorithm, public_key, status, not_before]
      properties:
        key_id: {type: string, minLength: 1}
        algorithm: {const: Ed25519}
        public_key:
          type: string
          contentEncoding: base64
          description: Base64-encoded 32-byte Ed25519 public key.
        status: {type: string, enum: [current, previous]}
        not_before: {type: string, format: date-time}
        not_after: {type: string, format: date-time}
    Error:
      type: object
      required: [error, message]
      properties:
        error: {type: string}
        message: {type: string}
    OverlayNetwork:
      type: object
      required: [id, display_name, cidr]
      properties:
        id: {type: string}
        display_name: {type: string}
        cidr: {type: string}
    OverlayDevice:
      type: object
      required: [id, network_id, wireguard_public_key, wireguard_address]
      properties:
        id: {type: string}
        network_id: {type: string}
        name: {type: string}
        platform: {type: string}
        hostname: {type: string}
        wireguard_public_key: {type: string}
        wireguard_address: {type: string}
        last_seen_at: {type: [string, "null"], format: date-time}
        status: {type: string, enum: [active, inactive, revoked]}
        state_version: {type: integer, minimum: 1}
        key_version: {type: integer, minimum: 1}
        revoked_at: {type: [string, "null"], format: date-time}
        revoked_reason: {type: string}
    DeviceScopeRequest:
      type: object
      additionalProperties: false
      required: [network_id, expected_state_version]
      properties:
        network_id: {type: string, minLength: 1}
        owner_user_id: {type: string, format: uuid}
        expected_state_version: {type: integer, minimum: 1}
    RotateDeviceKeyRequest:
      type: object
      additionalProperties: false
      required: [network_id, wireguard_public_key, expected_key_version]
      properties:
        network_id: {type: string, minLength: 1}
        owner_user_id: {type: string, format: uuid}
        wireguard_public_key: {type: string, pattern: '^[A-Za-z0-9+/]{43}=$'}
        expected_key_version: {type: integer, minimum: 1}
    DeviceStateRequest:
      type: object
      additionalProperties: false
      required: [network_id, status, expected_state_version]
      properties:
        network_id: {type: string, minLength: 1}
        owner_user_id: {type: string, format: uuid}
        status: {type: string, enum: [active, inactive, revoked]}
        expected_state_version: {type: integer, minimum: 1}
        reason: {type: string, maxLength: 512}
    RegisterDeviceRequest:
      type: object
      additionalProperties: false
      required: [device_id, wireguard_public_key]
      properties:
        device_id: {type: string, minLength: 1}
        name: {type: string}
        platform: {type: string}
        hostname: {type: string}
        network_id: {type: string}
        wireguard_public_key: {type: string, minLength: 1}
        wireguard_address: {type: string}
    CreateJoinTokenRequest:
      type: object
      additionalProperties: false
      properties:
        network_id: {type: string}
        device_id: {type: string}
        platform: {type: string, enum: [darwin, windows, linux, ios, android]}
        expires_in_seconds: {type: integer, minimum: 1, maximum: 86400, default: 900}
        remaining_uses: {type: integer, enum: [0, 1], default: 1, description: Compatibility field; every invite is strictly one-time.}
    CreateJoinTokenResponse:
      type: object
      additionalProperties: false
      required: [join_token]
      properties:
        join_token:
          type: object
          additionalProperties: false
          required: [id, join_uri, network_id, remaining_uses, expires_at]
          properties:
            id: {type: string}
            join_uri: {type: string, pattern: '^xconnect://join/'}
            network_id: {type: string}
            device_id: {type: string}
            platform: {type: string}
            remaining_uses: {type: integer, const: 1, description: Every issued invite has exactly one use.}
            expires_at: {type: string, format: date-time}
    ExchangeJoinTokenRequest:
      type: object
      additionalProperties: false
      required: [join_token, device_id, platform, wireguard_public_key]
      properties:
        join_token: {type: string, writeOnly: true, pattern: '^xjt_'}
        device_id: {type: string}
        name: {type: string}
        platform: {type: string, enum: [darwin, windows, linux, ios, android]}
        hostname: {type: string}
        wireguard_public_key: {type: string}
    ExchangeJoinTokenResponse:
      type: object
      additionalProperties: false
      required: [enrollment_token, token_type, expires_at, scope, device_credential, device, network, signing_keys]
      properties:
        enrollment_token: {type: string, writeOnly: true, pattern: '^xenr_'}
        token_type: {const: Bearer}
        expires_at: {type: string, format: date-time}
        scope: {type: array, items: {type: string, enum: ['overlay:config:read', 'overlay:config:ack', 'overlay:device:revoke']}}
        device_credential:
          type: object
          additionalProperties: false
          required: [credential_id, credential, token_type, issued_at, expires_at, scope]
          properties:
            credential_id: {type: string, pattern: '^xdcid_[0-9a-f]{32}$'}
            credential: {type: string, writeOnly: true, pattern: '^xdc_[0-9a-f]{32}\.[A-Za-z0-9_-]{43}$'}
            token_type: {const: Device}
            issued_at: {type: string, format: date-time}
            expires_at: {type: string, format: date-time}
            scope: {type: array, minItems: 3, maxItems: 3, uniqueItems: true, items: {enum: ['overlay:session:mint', 'overlay:credential:rotate', 'overlay:device:revoke']}}
        device: {$ref: "#/components/schemas/OverlayDevice"}
        network: {$ref: "#/components/schemas/OverlayNetwork"}
        signing_keys: {type: array, items: {$ref: "#/components/schemas/OverlaySigningKey"}}
    DeviceSessionMintRequest:
      $ref: ../schemas/overlay/device-session-mint-request.schema.json
    DeviceSessionMintResponse:
      $ref: ../schemas/overlay/device-session-mint-response.schema.json
    DeviceCredentialRotateRequest:
      $ref: ../schemas/overlay/device-credential-rotate-request.schema.json
    DeviceCredentialRotateResponse:
      $ref: ../schemas/overlay/device-credential-rotate-response.schema.json
    DeviceBoundRevokeRequest:
      $ref: ../schemas/overlay/device-bound-revoke-request.schema.json
    ConfigAckRequest:
      type: object
      additionalProperties: false
      required: [device_id, revision]
      properties:
        device_id: {type: string, minLength: 1}
        network_id: {type: string}
        revision: {type: string, minLength: 1}
        digest: {type: string}
        applied_at: {type: string, format: date-time}
    SignedConfigAckRequest:
      type: object
      additionalProperties: false
      required: [config_id, device_id]
      properties:
        config_id: {type: string, minLength: 1}
        device_id: {type: string, minLength: 1}
        applied_at: {type: string, format: date-time}
    SignedConfigAckResponse:
      type: object
      additionalProperties: false
      required: [acked, duplicate, ack]
      properties:
        acked: {const: true}
        duplicate: {type: boolean}
        ack:
          type: object
          additionalProperties: false
          required: [device_id, config_id, generation, applied_at, received_at]
          properties:
            device_id: {type: string}
            config_id: {type: string}
            generation: {type: integer, minimum: 1}
            applied_at: {type: string, format: date-time}
            received_at: {type: string, format: date-time}
    OverlayNode:
      type: object
      required: [id, network_id, wireguard_public_key, wireguard_address, endpoint_host, endpoint_port, transport_type, transport_security, transport_uuid, healthy]
      properties:
        id: {type: string}
        network_id: {type: string}
        name: {type: string}
        role: {type: string}
        region: {type: string}
        wireguard_public_key: {type: string}
        wireguard_address: {type: string}
        endpoint_host: {type: string}
        endpoint_port: {type: integer, minimum: 1, maximum: 65535}
        transport_type: {const: vless-tls}
        transport_security: {const: tls}
        transport_path: {type: string}
        transport_mode: {type: string}
        transport_uuid: {type: string, format: uuid}
        gateway_mode: {type: string, enum: [shadow, apply], default: shadow}
        healthy: {type: boolean}
        last_heartbeat: {type: [string, "null"], format: date-time}
    GatewayHeartbeatRequest:
      type: object
      additionalProperties: false
      required: [node_id, agent_version, mode, proxy_core, observed_generation, applied_generation]
      properties:
        node_id: {type: string}
        agent_version: {type: string, minLength: 1, maxLength: 128}
        mode: {type: string, enum: [shadow, apply]}
        proxy_core: {const: xray}
        observed_generation: {type: integer, minimum: 0}
        applied_generation: {type: integer, minimum: 0}
    GatewayDiffSummary:
      type: object
      additionalProperties: false
      required: [status, equal, projected_peers, current_peers, missing_peers, unexpected_peers, route_mismatches]
      properties:
        status: {type: string, enum: [available, unavailable]}
        equal: {type: boolean}
        projected_peers: {type: integer, minimum: 0}
        current_peers: {type: integer, minimum: 0}
        missing_peers: {type: integer, minimum: 0}
        unexpected_peers: {type: integer, minimum: 0}
        route_mismatches: {type: integer, minimum: 0}
    GatewayApplyResultRequest:
      type: object
      additionalProperties: false
      required: [node_id, snapshot_id, observed_generation, applied_generation, runtime_applied, result, diff]
      properties:
        node_id: {type: string}
        snapshot_id: {type: string}
        observed_generation: {type: integer, minimum: 1}
        applied_generation: {type: integer, minimum: 0}
        runtime_applied: {type: boolean}
        result: {type: string, enum: [shadow_validated, shadow_validated_wg_unavailable, shadow_rejected, applied, apply_rejected, apply_failed_rolled_back, apply_failed_rollback_failed]}
        diff: {$ref: "#/components/schemas/GatewayDiffSummary"}
    CreateNodeCredentialRequest:
      type: object
      additionalProperties: false
      properties: {expires_in_seconds: {type: integer, minimum: 1, maximum: 2592000}}
    CreateNodeCredentialResponse:
      type: object
      required: [credential]
      properties:
        credential:
          type: object
          required: [id, node_id, bearer_token, expires_at]
          properties:
            id: {type: string}
            node_id: {type: string}
            bearer_token: {type: string, writeOnly: true, pattern: '^xgn_[A-Za-z0-9_-]{43}$'}
            expires_at: {type: string, format: date-time}
    StaticClientImport:
      type: object
      additionalProperties: false
      required: [schema_version, kind, network_id, owner_user_id, source, devices]
      properties:
        schema_version: {const: 1}
        kind: {const: xconnect.accounts.static-client-import}
        network_id: {type: string}
        owner_user_id: {type: string, format: uuid}
        source:
          type: object
          additionalProperties: false
          required: [kind, variable, baseline_sha256]
          properties:
            kind: {const: ansible-group-vars}
            variable: {const: xworkmate_bridge_distributed_vpn_clients}
            baseline_sha256: {type: string, pattern: '^[a-f0-9]{64}$'}
        devices:
          type: array
          minItems: 1
          maxItems: 10000
          items: {$ref: "#/components/schemas/StaticImportDevice"}
    StaticImportDevice:
      type: object
      additionalProperties: false
      required: [device_id, wireguard_public_key, addresses, tags, attachments]
      properties:
        device_id: {type: string}
        wireguard_public_key: {type: string, pattern: '^[A-Za-z0-9+/]{43}=$'}
        addresses: {type: array, minItems: 1, maxItems: 1, items: {type: string, pattern: '/32$'}}
        tags: {type: array, items: {type: string}}
        attachments: {type: array, minItems: 1, items: {type: string}}
    StaticClientImportReceipt:
      type: object
      additionalProperties: false
      required: [import_id, idempotency_key, owner_user_id, network_id, baseline_sha256, device_count, created_at]
      properties:
        import_id: {type: string}
        idempotency_key: {type: string}
        owner_user_id: {type: string, format: uuid}
        network_id: {type: string}
        baseline_sha256: {type: string}
        device_count: {type: integer, minimum: 1}
        created_at: {type: string, format: date-time}
    OverlayConfigV1:
      type: object
      required: [schema_version, revision, digest, network, device, wireguard, transport, nodes]
      properties:
        schema_version: {const: 1}
        revision: {type: string, minLength: 1}
        digest: {type: string, minLength: 1}
        network: {$ref: "#/components/schemas/OverlayNetwork"}
        device: {$ref: "#/components/schemas/OverlayDevice"}
        wireguard:
          type: object
          required: [interface, address, mtu, dns, private_key_ref, local_proxy_endpoint, persistent_keepalive, peer_public_key, peer_allowed_ips, peer_endpoint, gateway_wireguard_ip, gateway_wireguard_cidr]
          properties:
            interface: {type: string}
            address: {type: string}
            mtu: {type: integer, minimum: 576}
            dns: {type: array, items: {type: string}}
            private_key_ref: {type: string}
            local_proxy_endpoint: {type: string}
            persistent_keepalive: {type: integer, minimum: 0}
            peer_public_key: {type: string}
            peer_allowed_ips: {type: array, items: {type: string}}
            peer_endpoint: {type: string}
            gateway_wireguard_ip: {type: string}
            gateway_wireguard_cidr: {type: string}
        transport:
          type: object
          required: [runtime, type, security, server, port, uuid, path, mode, flow, packet_encoding, local_port]
          properties:
            runtime: {const: xray-core}
            type: {const: vless-tls}
            security: {const: tls}
            server: {type: string}
            port: {type: integer, minimum: 1, maximum: 65535}
            uuid: {type: string, format: uuid}
            path: {type: string}
            mode: {type: string}
            flow: {type: string}
            packet_encoding: {const: xudp}
            local_port: {type: integer, minimum: 1, maximum: 65535}
        nodes:
          type: array
          items: {$ref: "#/components/schemas/OverlayNode"}
